[Unit]
Description=Measurement server
After=network.target

[Service]
ExecStart=/usr/bin/java -jar measurement-server.jar server config.yml
WorkingDirectory=/opt/measurement-server
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target