[Unit]
Description=Measurement server
After=network.target

[Service]
ExecStart=java -jar measurement-server-${project.version}.jar server config.yml
WorkingDirectory=/opt/measurement-server
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target